*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*button{
  font-size: 24px;
  padding: 16px;
}
body{
  background: white ;
}
header{
  background: white;
}
header > h1 {
  color: #255272E;
  text-align: center;
  font-family: Asap, sans-serif;
}
body > p {
  color: #255272E;
  text-align: center;
  font-family: Asap, sans-serif;
}
body > form {
  color: #255272E;
  text-align: center;
  font-family: Asap, sans-serif;
}

body > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0011;
}

body > ul > li {
  float: left;
}

body > ul > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.badge{
  background: blue;
  color: white;
  font-size: 14px;
  padding: 2px 10px;
  font-family: Asap, sans-serif;
}

.result{
  font-size: 48px;
  color: white;
}
.result > p{
  text-align: center;
  font-weight: bold;
  font-family: Asap, sans-serif;
}
.choices{
  margin: 58px 0;
  text-align: center;
}
.choice{
  border: 4px solid white;
  display: inline-block;
}
#action-message{
text-align: center;
color: white;
font-family: Asap, sans-serif;
font-weight: bold;
font-size: 20px;

}
